# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/raw/
data/processed/*.csv

# Model files
models/current/*.pkl
models/preprocessing/*.pkl
*.pkl

#logs
data/logs

# Reports
reports/metrics/*.json

# OS
.DS_Store
Thumbs.db